<% provide(:title, 'About') %>


<div class="panel panel-default">
  <div class="panel-body">
    <p>
	<h3>
		CustomFields is a Ruby on Rails application that allows you to create a contact list with your own cutom filds. 
	</h3>
</p>
	
<p>Custom fields uses <%= link_to 'Bootstrap', 'http://getbootstrap.com/', class: 'btn-link' %> </p>
  </div>
</div>