<div class="center jumbotron">
  <h1>Custom fields App</h1>

  <h3>
    Signup <%= link_to "here", signup_path, class: "btn-link" %> to create your own contact form.
  </h3>

  
</div>


<%= render 'contact_form', 
			contact: @contact %>




