<div class="center jumbotron">
  <h3>Contact form</h3>

  <h2>
    Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit

  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>


<%= render 'contact_form', 
			contact: @contact, 
			text_fields: @text_fields, 
			text_field_values: @text_field_values %>



