<% provide(:title, @user.name) %>



<div class="panel panel-primary">
  <div class="panel-body">
    <h3>
		Name: <%= @user.name %>
	</3>

	<h3>
		Email: <%= @user.email %>
	</3>

	<h3>
		Created at: <%= @user.created_at %>
	</3>
		
  </div>
</div>
