<footer class="footer">
  <nav>
    <ul>
      <li><%= link_to "About",   about_path, class: "btn-link" %></li>
      <li><%= link_to "Contact fields", contact_fields_path, class: "btn-link" %></li>   
    </ul>
  </nav>
</footer>